.enlarge {
  font-size: 20px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.betCard {
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
}

.material-icons {
  vertical-align: top;
  font-size: 50px;
}


