
<p class="time">{{game.time | date:'medium'}}</p>

<div class="bets">

  <p class="gameOne"> {{game.homeTeam}} </p>

  <button mat-button class="spreadOne" [routerLink]="['/confirm']" [queryParams]=
    "{homeTeam:this.game.homeTeam, awayTeam:this.game.awayTeam, clickedTeam:this.game.homeTeam, betType:'Spread', betLine:this.game.homeSpreadLine, gameTime:this.game.time}"> {{game.homeSpread}} <br> {{game.homeSpreadLine}} </button>

  <button mat-button class="totalOne" [routerLink]="['/confirm']" [queryParams]=
    "{homeTeam:this.game.homeTeam, awayTeam:this.game.awayTeam, clickedTeam:this.game.homeTeam, betType:'Over', betLine:this.game.over, gameTime:this.game.time}"> O {{game.totalNumber}} <br> {{game.over}} </button>

  <button mat-button class="moneylineOne" [routerLink]="['/confirm']" [queryParams]=
    "{homeTeam:this.game.homeTeam, awayTeam:this.game.awayTeam, clickedTeam:this.game.homeTeam, betType:'ML', betLine:this.game.homeMoneyLine, gameTime:this.game.time}"> {{game.homeMoneyLine}} </button>

  <p class="gameTwo"> {{game.awayTeam}} </p>

  <button mat-button class="spreadTwo" [routerLink]="['/confirm']" [queryParams]=
    "{homeTeam:this.game.homeTeam, awayTeam:this.game.awayTeam, clickedTeam:this.game.awayTeam, betType:'Spread', betLine:this.game.awaySpreadLine, gameTime:this.game.time}"> {{game.awaySpread}} <br> {{game.awaySpreadLine}} </button>

  <button mat-button class="totalTwo" [routerLink]="['/confirm']" [queryParams]=
    "{homeTeam:this.game.homeTeam, awayTeam:this.game.awayTeam, clickedTeam:this.game.awayTeam, betType:'Under', betLine:this.game.under, gameTime:this.game.time}"> U {{game.totalNumber}} <br> {{game.under}} </button>

  <button mat-button class="moneylineTwo" [routerLink]="['/confirm']" [queryParams]=
    "{homeTeam:this.game.homeTeam, awayTeam:this.game.awayTeam, clickedTeam:this.game.awayTeam, betType:'ML', betLine:this.game.awayMoneyLine, gameTime:this.game.time}"> {{game.awayMoneyLine}} </button>

</div>

<br>
<br>

<hr class="solid">

<br>




