<div class="rankingsPage">

  <div class="extraCreditButtons" >
    <div></div>
    <mat-card class="ecButtonsCard">
      <div></div>
      <mat-form-field appearance="fill">
        <mat-label>Sort by: </mat-label>
        <mat-select [formControl]="sortControl">
          <mat-option value="min">Minutes</mat-option>
          <mat-option value="cal">Calories</mat-option>
          <mat-option value="minGoal">Minute Goal</mat-option>
          <mat-option value="calGoal">Calorie Goal</mat-option>
        </mat-select>
      </mat-form-field>
      <div></div>
      <mat-form-field appearance="fill" class="filterBox">
        <mat-label>Find a user by Username: </mat-label>
        <input matInput type="string" [formControl]="filterControl">
        <span matSuffix></span>
      </mat-form-field>
      <div></div>
    </mat-card>
    <div></div>
  </div>

  <div class="rankingsContainer">

    <app-rankingentities class="card-item" *ngFor="let rank of filteredRankings" [ranking]="rank" > </app-rankingentities>

  </div>
</div>

