<div class="createRecordPage">
  <mat-card class="createRecordCard">

    <p style="font-size:40px;"> Add your exercise! </p>
    <mat-form-field appearance="fill">
      <mat-label>Select an Exercise Type</mat-label>
      <mat-select [formControl]="activityControl">
        <mat-option value="0">walk</mat-option>
        <mat-option value="1">run</mat-option>
        <mat-option value="2">bike</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [disabled]="cantEditDate" placeholder="{{dateControl.value}}"
             [formControl]="dateControl">
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="minuteBox">
      <mat-label>Minutes Exercised</mat-label>
      <input matInput type="number" value="{{minutes}}" [formControl]="minuteControl">
      <span matSuffix></span>
    </mat-form-field>
    <section>
      <mat-slider class="minuteSlider" min="30" max="360" [(ngModel)]="minutes"
                  [formControl]="minuteControl"></mat-slider>
    </section>
    <mat-form-field appearance="fill" class="calorieBox">
      <mat-label>Calories Burned</mat-label>
      <input matInput type="number" value="{{calories}}" [formControl]="calorieControl">
      <span matSuffix></span>
    </mat-form-field>
    <section>
      <mat-slider class="calorieSlider" min="1000" max="3000" [(ngModel)]="calories"
                  [formControl]="calorieControl"></mat-slider>
    </section>
    <div class="saveButton">
      <button mat-button (click)="saveRecord()" routerLink='/'> Save </button>
    </div>

  </mat-card>
</div>


