<mat-toolbar *ngIf="isUser">

  <!--<igx-avatar initials="{{currentUser.firstName.substring(0,1)}}{{currentUser.lastName.substr(0, 1)}}"
              [roundShape]="true"
              size="small">
  </igx-avatar>-->

  <button mat-button routerLink="/">Home</button>

  <button mat-button routerLink="/leaderboard" >Leaderboard</button>


  <!--  <button mat-button routerLink="/basketball">Find Bet</button>-->

  <button mat-button (click)="logout()">Logout </button>

  <button mat-button routerLink="/confirm">  </button>

</mat-toolbar>


<router-outlet></router-outlet>
