<mat-toolbar *ngIf="isUser">

  <igx-avatar initials="{{currentUser.firstName.substring(0,1)}}{{currentUser.lastName.substr(0, 1)}}"
              [roundShape]="true"
              size="small">
  </igx-avatar>

  <button mat-button routerLink="/">My Progress</button>

  <button mat-button routerLink="/rankings" >Rankings</button>

<!--  TODO: add a button that will show the 'settings' component-->

  <button mat-button routerLink="/settings">Settings</button>

  <button mat-button (click)="logout()">Logout </button>
</mat-toolbar>


<router-outlet></router-outlet>
